# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ~="cd ~" # `cd` is probably faster to type though

# mv, rm, cp
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

alias brwe=brew  #typos

# ls options: A = include hidden (but not . or ..), F = put `/` after folders, h = byte unit suffixes
alias ls='gls -AF ${colorflag} --group-directories-first'

# Recursively delete `.DS_Store` files
alias cleanup_dsstore="find . -name '*.DS_Store' -type f -ls -delete"